@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap");
/* GLOBAL */
*{
 border: 1px solid red
}
/* FIN GLOBAL */

/* CONTENEDOR */
body {
	margin: 0;
	padding: 0;
}
section {
	width: 100%;
	height: auto;

/** CENTRAR CONTENIDO, TEXTO**/
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center; 
/** FIN CENTRAR **/
}
.container {
	width: 600px; /* (4/6)*100 */
	height: 400px; /* (2/4)*100 */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/* FIN CONTENEDOR */

/* CABECERA */
.header {
	width: 100%;
}
/* FIN CABECERA */

/* COMPONENTE */
/* FIN COMPONENTE */